@font-face {
    font-family: 'Didot';
    src: url('/fonts/Didot.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: 'Lato', sans-serif;
}
.heading-font {
  font-family: 'Didot', serif;
}

.button-gradiant {
  background: linear-gradient(90deg, #611818 0%, #A36754 100%);
}

button {
  outline: none;
}

.social-icons a:hover path {
  fill: #611818;
}

.content {
  position: absolute;
  left: calc(30% - 220px);
  bottom: 0;
}

#exploreModal {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transform-origin: 6% 94%;
  transition: 0.5s;
  z-index: 999;
}

.content.active #exploreModal {
  transform: scale(1);
}

@media screen and (max-width: 1024px) {
  .content {
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    margin: 0;
  }
  #exploreModal {
    left: 0%;
    top: 0;
    bottom: unset;
    transform: scale(0);
    transform-origin: 30% 46%;
    height: 100%;
  }
  .content.active #exploreModal {
    transform: scale(1);
  }
}